    <footer>
      <p>Esta página no utiliza ninguna <em>cookie</em> y tampoco realiza ningún tipo de rastreo.</p>
      <p>Contenidos publicados bajo <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank">licencia Creative Commons (CC BY 4.0)</a>.</p>
      <p>
        <a href="mailto:manuelsagra@gmail.com" rel="noopener">E-mail</a>
        &middot;
        <a href="https://twitter.com/manuelsagra" rel="noopener" target="_blank">Twitter</a>
        &middot;
        <a href="https://github.com/manuelsagra" rel="noopener" target="_blank">GitHub</a>
        &middot;
        <a href="https://manuelsagra.itch.io/" rel="noopener" target="_blank">Itch.io</a>
        &middot;
        <a href="https://www.linkedin.com/in/manuelsagra" rel="noopener" target="_blank">LinkedIn</a>
      </p>
    </footer>
  </body>
</html>