{{ partial "header.html" . }}

<section class="header">
  <h2>¡Vaya! No he podido encontrar lo que buscas 😭</h2>
</section>

<p>A lo mejor el contenido se ha movido de sitio... o puede que nunca existiese. O quizás, los duendes que te cambian los calcetines de sitio hayan hecho de las suyas.</p>
<p>En cualquier caso, espero que encuentres algo útil si navegas a alguna de estas páginas:</p>

<ul>
  <li><a href="/categories/">Categorías</a></li>
  <li><a href="/tags/">Etiquetas</a></li>
  <li><a href="/">Inicio</a></li>
</ul>

{{ partial "footer.html" . }}